body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #000000;
    color:white;
}

.logo {
    height: 150px;
    width: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

footer {
    color: white;
    background: #000000;
    padding: 20px;
    text-align: center;
}

.contact {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #d45805;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

section {
    background-color: #000000;
    color: white;
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}